.searchbar-container {

    width: 90%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbar-container form {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
label {
    width: 80%;
}
input {
    width: 100%;
    border: 2px solid var(--clr-blue);
    padding: 1rem 3rem;
}
.search-btn {
    margin-left: 0.5rem;
    border: 1px solid var(--clr-dark);
    background-color: var(--clr-pink);
    color: var(--clr-light);
    font-size: var(--fs-h4);
    border-radius: var(--radius);
    cursor: pointer;
}
@media (min-width: 880px) {
    input {
        padding: 0.5rem 1.5rem;
    }
}