.footer-container {
    width: 100vw;
    background-color: var(--clr-pink);
    padding: 3rem 0;
    margin-top: auto;
}
.footer-content {
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.footer-logo-link {
    width: 75px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.footer-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer-links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;

}
.footer-link-item {
    list-style:none;
    margin-right: 15px;
    position: relative;

}
.footer-link-item::after {
    content: "|";
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    color: var(--clr-light);

}
.footer-link-item a {
    text-decoration: none;
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: 0.85rem;
    text-transform: capitalize;
}
.footer-text-Two {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: 0.85rem;
    text-transform: capitalize;
}
.footer-text-Three {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: 0.65rem;
}

@media (min-width: 880px) {
    .footer-content {
        flex-direction: row;
        justify-content: space-between;
    }
    .footer-text {
        width: 90%;
    }
}