.pony-details-container {
    width: 100vw;
    background-color: var(--clr-pink-lighter);
    padding: 5rem 0;

}
.pony-details-content {
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.img-section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pony-details-image {
    width: 80%;
    height: 30rem;
    object-fit: cover;
}
.pony-image-btn {
    border: transparent;
    background-color: transparent;
    font-weight: var(--fw-extra-bold);
    color: var(--clr-blue);
    font-size: var(--fs-h3);
}
.info-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

/*.pony-details-container {*/
/*    width: 100%;*/
/*    background-color: var(--clr-pink-lighter);*/
/*    position: relative;*/

/*}*/
/*.pony-details-section {*/
/*    !*position: absolute;*!*/
/*    !*top: 15vh;*!*/
/*    !*left: 0;*!*/
/*    width: 100%;*/
/*    padding: 2em;*/
/*    display: flex;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/


/*}*/
/*.pony-wrapper {*/
/*    width:45%;*/
/*    height: 100%;*/
/*}*/
/*.pony-wrapper-left {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    align-items: center;*/

/*}*/
/*.pony-image-btn {*/
/*    background: transparent;*/
/*    border-color: transparent;*/
/*    font-size: 1.25rem;*/
/*    margin: 0 0.5rem;*/
/*    cursor: pointer;*/
/*}*/
/*.pony-details-image {*/
/*    width: 75%;*/
/*    height: 425px;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/
/*.pony-wrapper-right {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: flex-start;*/

/*}*/
/*.pony-wrapper-right p {*/
/*    margin-bottom: 1em;*/
/*}*/
/*.pony-kind-wrapper {*/
/*    display: flex;*/
/*}*/
/*.pony-kind {*/
/*    margin-left: 1em;*/
/*}*/
/*.video-btn {*/
/*    background: lightgrey;*/
/*    padding: 0.25em 0.5em;*/
/*    border: none;*/
/*    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);*/
/*    border-radius: 6px;*/
/*}*/