
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --ff-primary: 'Montserrat', sans-serif;

    --fw-reg: 400;
    --fw-bold:700;
    --fw-extra-bold: 900;

    --clr-light: #fff;
    --clr-light-background: #ECEEEE;
    --clr-dark: #000;
    --clr-pink: #df2dc3;
    --clr-pink-lighter: #EF96E1;
    --clr-pink-darker: #f60a89;
    --clr-blue: #191970;
    --clr-blue-lighter: #A3A3C5;
    --clr-pink-background-1: rgb(0,0,0);
    --clr-pink-background-2: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(223,45,195,1) 0%);


    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1.50rem;
    --fs-body: 1rem;

    --bs: 8px 8px #fdc500;
    --bs-soft: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    --radius: 0.25rem;
    --radius-larger: 0.85rem;

    --transition: all 0.3s linear;

}
@media (min-width: 880px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2.75rem;
        --fs-h4: 1.75rem;
        --fs-body: 1.125rem;
    }
}
/****************************General Styles*******************************/
html {
    scroll-behavior: smooth;
    height: 100%;
}
body {
    background: var(--clr-light-background);
    color: var(--clr-blue);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}
img {
    max-width: 100%;
}
strong {
    font-weight: var(--fw-bold);
}
.btn {
    background-color: var(--clr-blue);
    border-radius: var(--radius-larger);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h4);
    padding: 0.75rem 2.25rem;
    transition: var(--transition);
    border: none;
    color: var(--clr-light);
}
.btn:hover {
    transform: scale(1.1);

}
.btn-smaller {
    background-color: var(--clr-blue);
    border-radius: var(--radius-larger);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h4);
    padding: 0.35rem 1rem;
    transition: var(--transition);
    border: none;
    color: var(--clr-light);
}
.btn-smaller:hover {
    transform: scale(1.1);

}
/**************************** Typography *******************************/

h1,
h2,
h3 {
    line-height: 1.6;
    margin: 0;
}
h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}
h4 {
    font-size: var(--fs-h4);
}

